body{
    background: url(../../images/Background.jpg);
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1285px;
    height: 747px;
    margin: 0 auto;
}