header {
  width: 100%;
  background-color: rgba(226, 250, 252, 0);
  margin-bottom: 100px;

  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 200px;
      height: 70px;
      margin-right: 78px;
    }

    ul {
      margin: 0 auto;
      display: flex;
      align-items: center;

      li {
        color: rgb(8, 61, 59);
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-right: 62px;
      }
    }
  }
}
