header{
    background-color: rgba(226, 250, 252, 0.6);
    width: 100%;

    .container{
        margin: 0 auto;
        width: 100%;
        border: 2px solid black;

        ul{
            margin: 0 auto;
            display: flex;
            align-items: center;

            li{
            color: grey;
            font-family: 'DM Sans', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-right: 62px;
            }
            
            img{
                width: 200px;
                height: 70px;
                margin-right: 78px;
            }
        }
    }
}