.s-1{
    height: 674px;
    h1{
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 120px;
        font-style: normal;
        font-weight: 900;
        line-height: 130px; /* 108.333% */
        text-transform: uppercase;
        width: 650px;
    }
}