.s-2 {
  width: 100%;
  height: 100vh;
  background-color: #010A20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 5px;
  font-size: 15px;
  background: linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0.00) 100%), url(https://cdn.georgiantravelguide.com/storage/thumbnails/dji-0110-2.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  /* Add your container styles here */
}
