.s-2 {
  background: url(https://cdn.georgiantravelguide.com/storage/thumbnails/dji-0110-2.jpg);
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
   .container{
    max-width: 100%;
    .tcolor{
        width: 100%;
        height: 100%;
        position: absolute;
        color: rgba(2, 2, 52, 0.521);
    }
   }
}
